body{
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.header{
    border: 1px solid red;
    grid-column: 2;
}

.side-bar{
    border: 1px solid blue;
    grid-row: 1 / 3;
}

.main-content{
    border: 1px solid green;
    grid-column: 2;
    grid-row: 2;
}